p{
	
	
	color:white;
}
	
body{
	background-image: linear-gradient(to right,#77c9d4,#57bc90);
	background-size: cover;
}
table{
	width:100%;
	color: #;
	table-layout: fixed;
	background-color:a5a5af
}
td{
	color: #015249;
	border-radius:15px;