table{
	width:100%;
	color: #f172a1;
	table-layout: fixed;
}
td{
	color: #a1c3d1;
	border-radius:15px;
}
body{
	background-image: linear-gradient(#77c9d4,#57bc90);
	background-size: cover;
}
p{
	color:#015249;
}
h2{
	color:#015249;
}
	
	