table{
	width:100%;
	color: #edc9f0;
	table-layout: fixed;
}
td{
	color: #8A1CAB;
	border-radius:15px;
}
body{
 	background-image: url("dots3.jpg");
	background-repeat:repeat;
}

p{
	background-color: #c999ff, 70%;
}
	